/*################### nav ###########################*/
#wrap a:hover {
    background-color: #555;
    color: white;
}



/*############################# main #######################*/

.lac {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.paraph {
    text-align: center;
    padding-top: 0%;
    margin: 3%;
    font-size: 115%;
    font-style: oblique;
    font-weight: bolder;
    font-weight: 900;
    position: relative;
}


.titre {
    font-style: italic;
    font-style: oblique;
    font-weight: bolder;
    text-align: center;
}

td,
th {
    border: 1px solid black;
}

.table {
    border-collapse: collapse;
    font-style: italic;
    font-style: oblique;
    font-weight: bolder;
    table-layout: auto;
    width: 70%;
    text-align: center;
    margin-left: 12%;
}

body {
    background-color: rgba(128, 128, 128, 0.195);
}